<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <data>
        <report
                id="quotation_report"
                model="sale.order"
                string="Quotation Report"
                report_type="qweb-html"
                attachment_use="False"
                name="Quotation_Reports.quotation_report"
                file="Quotation_Reports.quotation_report"
        />
        <report
                id="normal_report_1_in_1"
                model="sale.order"
                string="Quotation Report One"
                report_type="qweb-html"
                attachment_use="False"
                name="Quotation_Reports.normal_report_1_in_1"
                file="Quotation_Reports.normal_report_1_in_1"
        />
        <report
                id="quotation_report_two"
                model="sale.order"
                string="Quotation Report Two"
                report_type="qweb-html"
                attachment_use="False"
                name="Quotation_Reports.quotation_report_two"
                file="Quotation_Reports.quotation_report_two"
        />
        <report
                id="quotation_report_three"
                model="sale.order"
                string="Quotation Report Three"
                report_type="qweb-html"
                attachment_use="False"
                name="Quotation_Reports.quotation_report_three"
                file="Quotation_Reports.quotation_report_three"
        />
        <report
                id="handover_one"
                model="sale.order"
                string="Handover One"
                report_type="qweb-html"
                attachment_use="False"
                name="Quotation_Reports.handover_one"
                file="Quotation_Reports.handover_one"
        />
        <report
                id="handover_two"
                model="sale.order"
                string="Handover Two"
                report_type="qweb-html"
                attachment_use="False"
                name="Quotation_Reports.handover_two"
                file="Quotation_Reports.handover_two"
        />
        <report
                id="handover_three"
                model="sale.order"
                string="Handover Three"
                report_type="qweb-html"
                attachment_use="False"
                name="Quotation_Reports.handover_three"
                file="Quotation_Reports.handover_three"
        />
        <report
                id="handover_four"
                model="sale.order"
                string="Handover Four"
                report_type="qweb-html"
                attachment_use="False"
                name="Quotation_Reports.handover_four"
                file="Quotation_Reports.handover_four"
        />
    </data>
</odoo>
