<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <data>
        <record id="paperformat_quotation_reports" model="report.paperformat">
            <field name="name">Quotation Report</field>
            <field name="default" eval="True"/>
            <field name="format">A4</field>
            <field name="orientation">Portrait</field>
            <field name="margin_top">11</field>
            <field name="margin_bottom">5</field>
            <field name="margin_left">11</field>
            <field name="margin_right">11</field>
            <field name="dpi">90</field>
        </record>
        <report
                id="reports"
                model="sale.order"
                string="Sale Report"
                report_type="qweb-pdf"
                attachment_use="False"
                name="Quotation_Reports.quotation_report"
                file="Quotation_Reports.quotation_report"
                paperformat="Quotation_Reports.paperformat_quotation_reports"
        />
    </data>
</odoo>
