.o_form_view .o_form_sheet_bg > .o_form_sheet {
    max-width: 100% !important;
    margin: 0 auto;
    border: 0;
}

@media screen and (min-width: 475px){
    .tab-content table.o_inner_group.o_group.oe_subtotal_footer {
        width: 350px !important;
    }
}