/* HEADER MENU*/

.o_main_navbar .o_menu_apps .dropdown-menu .dropdown-item{
    display: none
}

.o_main_navbar .o_menu_apps .dropdown-menu .dropdown-item[data-menu-xmlid="account.menu_finance"],
.o_main_navbar .o_menu_apps .dropdown-menu .dropdown-item[data-menu-xmlid="Maintain_Invoice_Remake.menu_action_invoice"],
.o_main_navbar .o_menu_apps .dropdown-menu .dropdown-item[data-menu-xmlid="Maintain_Bill_Management.parent_menu_bill_management"],
.o_main_navbar .o_menu_apps .dropdown-menu .dropdown-item[data-menu-xmlid="Maintain_Achievement_Management.parent_achievement_management"],
.o_main_navbar .o_menu_apps .dropdown-menu .dropdown-item[data-menu-xmlid="Maintain_Quotations.menu_ideas"],
.o_main_navbar .o_menu_apps .dropdown-menu .dropdown-item[data-menu-xmlid="Maintain_Order_Management.parent_menu"],
.o_main_navbar .o_menu_apps .dropdown-menu .dropdown-item[data-menu-xmlid="Maintain_Country_State.parent_menu_master"],
.o_main_navbar .o_menu_apps .dropdown-menu .dropdown-item[data-menu-xmlid="Maintain_Tax_Rate.parent_menu_master"],
.o_main_navbar .o_menu_apps .dropdown-menu .dropdown-item[data-menu-xmlid="base.menu_management"],
.o_main_navbar .o_menu_apps .dropdown-menu .dropdown-item[data-menu-xmlid="base.menu_administration"],
.o_main_navbar .o_menu_apps .dropdown-menu .dropdown-item[data-menu-xmlid="Maintain_Income_Payment.parent_menu_master"],
.o_main_navbar .o_menu_apps .dropdown-menu .dropdown-item[data-menu-xmlid="Maintain_Income_Payment.menu_ideas"]{
    display: block
}

.o_form_view .o_form_sheet_bg > .o_form_sheet {
    max-width: 100% !important;
    margin: 0 auto;
    border: 0;
}

@media screen and (min-width: 475px){
    .tab-content table.o_inner_group.o_group.oe_subtotal_footer {
        width: 350px !important;
    }
}

/* CSS custom o_form_statusbar */
.o_form_statusbar{
    display: block !important;
    padding-right: 16px;
}

.o_form_statusbar:after{
    display: block;
    content: "";
    clear: both;
}

.o_form_statusbar > *{
    float: left !important;
}

.o_form_statusbar > span:last-child{
    float: right !important;
    line-height: 2.5rem;
}