.product_custom_template {
    .o_inner_group {
        margin: 0 !important;
        /*overflow: auto;*/
    }

    .o_group .o_form_label {
        font-weight: bold !important;
    }

    .o_group.o_inner_group > tbody > tr > td.o_td_label {
        min-width: 182px;
    }

    .table-responsive {
        min-height: .01%;
        overflow-x: auto;
        overflow-y: auto;
    }
    .product_edit {
        width: auto;
    }

    .custom_group > tbody > tr{
        > td:first-child{
            width: auto !important;
        }

        > td:last-child{
            width: 100% !important;
        }
    }
}
