.quotations_custom {
    td > span.line_info {
        text-align: right;
        background-color: white !important;
        border: none;
        font-size: 1.2rem;
        font-weight: bold;
    }
}

@include media-breakpoint-up(ultra) {
  .modal-ultra { max-width: 1500px; }
}