<odoo>

    <record id="Maintain_Country_State.submenu_first" model="ir.ui.menu">
        <field name="groups_id" eval="[(4, ref('base.group_erp_manager'))]"/>
    </record>
    <record id="Maintain_Country_State.menu_partner_group" model="ir.ui.menu">
        <field name="groups_id" eval="[(4, ref('base.group_erp_manager'))]"/>
    </record>
    <record id="Maintain_Country_State.menu_closing_date" model="ir.ui.menu">
        <field name="groups_id" eval="[(4, ref('base.group_erp_manager'))]"/>
    </record>
    <record id="Maintain_Country_State.menu_payment_date" model="ir.ui.menu">
        <field name="groups_id" eval="[(4, ref('base.group_erp_manager'))]"/>
    </record>
    <record id="Maintain_Country_State.menu_action_payment_term_form" model="ir.ui.menu">
        <field name="groups_id" eval="[(4, ref('base.group_erp_manager'))]"/>
    </record>
    <record id="Maintain_Country_State.menu_customer_reference" model="ir.ui.menu">
        <field name="groups_id" eval="[(4, ref('base.group_erp_manager'))]"/>
    </record>
    <record id="Maintain_Country_State.menu_freight" model="ir.ui.menu">
        <field name="groups_id" eval="[(4, ref('base.group_erp_manager'))]"/>
    </record>
    <record id="Maintain_Country_State.menu_product_class" model="ir.ui.menu">
        <field name="groups_id" eval="[(4, ref('base.group_erp_manager'))]"/>
    </record>
    <record id="Maintain_Country_State.menu_confirm_product" model="ir.ui.menu">
        <field name="groups_id" eval="[(4, ref('base.group_erp_manager'))]"/>
    </record>
    <record id="Maintain_Country_State.menu_taxes" model="ir.ui.menu">
        <field name="groups_id" eval="[(4, ref('base.group_erp_manager'))]"/>
    </record>
    <record id="Maintain_Tax_Rate.parent_menu_master" model="ir.ui.menu">
        <field name="groups_id" eval="[(4, ref('base.group_erp_manager'))]"/>
    </record>
    <record id="Maintain_Tax_Rate.menu_tax_rate" model="ir.ui.menu">
        <field name="parent_id" eval="ref('base.menu_custom')"/>
    </record>
    <record id="Maintain_Country_State.menu_price_list" model="ir.ui.menu">
        <field name="groups_id" eval="[(4, ref('base.group_erp_manager'))]"/>
    </record>
    <record id="account.menu_finance_configuration" model="ir.ui.menu">
        <field name="parent_id" eval="ref('base.menu_custom')"/>
    </record>

    <record id="Maintain_Bill_Management.parent_menu_bill_management" model="ir.ui.menu">
        <field name="groups_id" eval="[(4, ref('base.group_erp_manager'))]"/>
    </record>
    <record id="Maintain_Bill_Management.menu_bill" model="ir.ui.menu">
        <field name="groups_id" eval="[(4, ref('base.group_erp_manager'))]"/>
    </record>
    <record id="Maintain_Achievement_Management.parent_achievement_management" model="ir.ui.menu">
        <field name="groups_id" eval="[(4, ref('base.group_erp_manager'))]"/>
    </record>
    <record id="Maintain_Achievement_Management.sales_achievement_menu" model="ir.ui.menu">
        <field name="groups_id" eval="[(4, ref('base.group_erp_manager'))]"/>
    </record>
    <record id="Maintain_Bill_Cancel.menu_cancel_bill" model="ir.ui.menu">
        <field name="groups_id" eval="[(4, ref('base.group_erp_manager'))]"/>
    </record>
    <record id="Maintain_Bill_Management.menu_bill_draft" model="ir.ui.menu">
        <field name="groups_id" eval="[(4, ref('base.group_erp_manager'))]"/>
    </record>
    <record id="Maintain_Bill_Management.bill_draft" model="ir.ui.menu">
        <field name="groups_id" eval="[(4, ref('base.group_erp_manager'))]"/>
    </record>
    <record id="Maintain_Bill_Draft.bill_draft_history" model="ir.ui.menu">
        <field name="groups_id" eval="[(4, ref('base.group_erp_manager'))]"/>
    </record>
    <record id="Maintain_Bill_List.menu_list_bill" model="ir.ui.menu">
        <field name="groups_id" eval="[(4, ref('base.group_erp_manager'))]"/>
    </record>
    <record id="Maintain_Collation_History.menu_ideas" model="ir.ui.menu">
        <field name="groups_id" eval="[(4, ref('base.group_erp_manager'))]"/>
    </record>
    <record id="Maintain_List_Omission_Of_Bill.menu_list_omission_of_bill" model="ir.ui.menu">
        <field name="groups_id" eval="[(4, ref('base.group_erp_manager'))]"/>
    </record>
    <record id="Maintain_Payment_Request_Bill.menu_ideas" model="ir.ui.menu">
        <field name="groups_id" eval="[(4, ref('base.group_erp_manager'))]"/>
    </record>
</odoo>